body {
  background-color: #D3D3D3;
border: 5px solid black;
padding: 30px;
margin 50px;
}
h1 {
  color: #000000;
border: 0px solid black;
padding: 0px;
margin: 0px;
}

h2 {
  color: #000000;
border: 0px solid black;
padding: 0px;
margin: 0px;
}

h3 {
  color: #000000;
border: 0px solid black;
padding: 0px;
margin: 0px;
}

p {
  color: #000000;
border: 0px solid black;
padding: 0px;
margin: 0px;
}